<!-- <section class="site-album">
  <div class="album-row">
    <img src="/img/layout/footer/usds-logo-written-in-marker.jpg" alt="the USDS logo written in marker" />
    <img src="/img/layout/footer/usds-staff-meeting.jpg" alt="a picture of the USDS team at a staff meeting" />
    <img src="/img/layout/footer/usds-emoji-logo-on-whiteboard.jpg" alt="the USDS emoji logo written on a whiteboard" />
    <img src="/img/layout/footer/usds-talent-team-selfie-at-white-house.jpg" alt="the USDS talent team taking a selfie at the white house" />
    <img src="/img/layout/footer/usds-meeting-in-progress-cardboard-sign.jpg" alt="a cardboard sign that says meeting in progress" />
    <img src="/img/layout/footer/engineer-coding-infront-of-fireplace.jpg" alt="a USDS engineer working infront of a fireplace" />
  </div>
  <div class="album-row">
    <img src="/img/layout/footer/defense-digital-service-team-photo.jpg" alt="the defense digital service posing for a team photo" />
    <img src="/img/layout/footer/usds-team-at-dhs-team-photo.jpg" alt="the USDS team at dhs posing for a team photo" />
    <img src="/img/layout/footer/usa-jacket-hanging-on-coatrack.jpg" alt="a usa embroidered jacket hanging on a coat rack" />
    <img src="/img/layout/footer/team-working-in-usds-hq.jpg" alt="the USDS team working in the HQ office" />
    <img src="/img/layout/footer/hand-holding-a-usds-sticker.jpg" alt="a hand holding a USDS sticker" />
    <img src="/img/layout/footer/usds-team-laughing-in-meeting.jpg" alt="members of the USDS team laughing in a meeting" />
  </div>
</section> -->
<section class="site-album">
  <div class="album-row">
    <img src="https://images.unsplash.com/photo-1455133332007-a0956e4fde21?dpr=2&auto=format&fit=crop&w=auto&h=300&q=80&cs=tinysrgb&crop=&bg=" alt="pen, paper, and pencil" />
    <img src="https://images.unsplash.com/photo-1461950209984-1ce1f03a1be9?dpr=2&auto=format&fit=crop&w=auto&h=300&q=80&cs=tinysrgb&crop=&bg=" alt="ask more questions" />
    <img src="https://images.unsplash.com/photo-1456735190827-d1262f71b8a3?dpr=2&auto=format&fit=crop&w=auto&h=300&q=80&cs=tinysrgb&crop=&bg=" alt="design thinking tools" />
    <img src="https://images.unsplash.com/photo-1427024766753-db9e6d7b5b5e?dpr=2&auto=format&fit=crop&w=auto&h=300&q=80&cs=tinysrgb&crop=&bg=" alt="value proposition canvas" />
    <img src="https://images.unsplash.com/photo-1460925895917-afdab827c52f?dpr=2&auto=format&fit=crop&w=auto&h=300&q=80&cs=tinysrgb&crop=&bg=" alt="analytics" />
    <img src="https://images.unsplash.com/photo-1453230806017-56d81464b6c5?dpr=2&auto=format&fit=crop&w=auto&h=300&q=80&cs=tinysrgb&crop=&bg=" alt="offices" />
  </div>
  <div class="album-row">
    <img src="https://images.unsplash.com/photo-1468779036391-52341f60b55d?dpr=2&auto=format&fit=crop&w=auto&h=300&q=80&cs=tinysrgb&crop=&bg=" alt="binders" />
    <img src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?dpr=2&auto=format&fit=crop&w=auto&h=300&q=80&cs=tinysrgb&crop=&bg=" alt="code" />
    <img src="https://images.unsplash.com/photo-1491729082573-abc8c4bfcd2c?dpr=2&auto=format&fit=crop&w=auto&h=300&q=80&cs=tinysrgb&crop=&bg=" alt="post-it notes" />
    <img src="https://images.unsplash.com/photo-1464245051818-30da1a636203?dpr=2&auto=format&fit=crop&w=auto&h=300&q=80&cs=tinysrgb&crop=&bg=" alt="service" />
    <img src="https://images.unsplash.com/photo-1482440308425-276ad0f28b19?dpr=2&auto=format&fit=crop&w=auto&h=300&q=80&cs=tinysrgb&crop=&bg=" alt="hustle" />
    <img src="https://images.unsplash.com/photo-1432888498266-38ffec3eaf0a?dpr=2&auto=format&fit=crop&w=auto&h=300&q=80&cs=tinysrgb&crop=&bg=" alt="iOS app development" />
  </div>
</section>

<div class="feature-panel">
  <h3><em>Creative Economy Pilot Project</em></h3>
  <h4>The City is offering $500k in grants for art, tech, and food projects to catalyze small-scale innovation hubs in Sacramento's neighborhoods.</h4>
</div>
<div class="join-button-container">
  <a href="https://cityofsac.forms.fm/creative-economy" target="_blank"><button class="join-button">Apply Now</button></a>
</div>
